<div class="container">
  <h1>Add a link</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <input type="url" [formControl]="link" />
      <div *ngIf="link.invalid && (link.touched)"
           class="alert alert-danger">
        <div *ngIf="link.errors.required">
          Link is required.
        </div>
      </div>
      <br />
      <button type="submit" [disabled]="link.invalid">Submit</button>
    </div>
  </form>
  <br />

  <ng-container [ngSwitch]="type">
    <div *ngSwitchCase="typeEnum.Image" (contextmenu)="onRightClick($event)">
      <mat-card class="preview" (click)="redirect()">
        <img class="cropped" mat-card-image [src]="linkSubmit">
        <mat-card-content>
          <mat-card-subtitle>
            <mat-icon> insert_link</mat-icon><a [href]="linkSubmit" [innerHTML]="linkShow"></a>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="typeEnum.Pdf" (contextmenu)="onRightClick($event)">
      <mat-card class="preview" (click)="redirect()">
        <mat-card-content>
          <mat-card-subtitle>
            <mat-icon>picture_as_pdf</mat-icon><a [href]="linkSubmit" [innerHTML]="linkShow"></a>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

    </div>

    <div *ngSwitchCase="typeEnum.Word" (contextmenu)="onRightClick($event)">
      <mat-card class="preview" (click)="redirect()">
        <mat-card-content>
          <mat-card-subtitle>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-word" viewBox="0 0 16 16">
              <path d="M5.485 6.879a.5.5 0 1 0-.97.242l1.5 6a.5.5 0 0 0 .967.01L8 9.402l1.018 3.73a.5.5 0 0 0 .967-.01l1.5-6a.5.5 0 0 0-.97-.242l-1.036 4.144-.997-3.655a.5.5 0 0 0-.964 0l-.997 3.655L5.485 6.88z" />
              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg><a [href]="linkSubmit">{{ linkShow }}</a>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

    </div>

    <div *ngSwitchCase="typeEnum.Binary" (contextmenu)="onRightClick($event)">
      <mat-card class="preview" (click)="redirect()">
        <mat-card-content>
          <mat-icon> insert_drive_file</mat-icon><a [href]="linkSubmit" [innerHTML]="linkShow"></a>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="typeEnum.Link" class="preview" [title]="preview.url" (contextmenu)="onRightClick($event)">
      <mat-card class="preview" (click)="redirect()">
        <img class="cropped" mat-card-image [src]="preview.image">
        <mat-card-content>
          <mat-card-title>
            <p [innerHTML]="preview.title"></p>
          </mat-card-title>
          <mat-card-subtitle>
            <p [innerHTML]="preview.description"></p>
          </mat-card-subtitle>
          <mat-card-subtitle>
            <a [href]="preview.url" [innerHTML]="linkShow"></a>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

   <!--an hidden div is created to set the position of appearance of the menu-->
  <div style="visibility: hidden; position: fixed;"
       [style.left.px]="menuTopLeftPosition.x"
       [style.top.px]="menuTopLeftPosition.y"
       [matMenuTriggerFor]="rightMenu"></div>
  <!--standar material menu-->
  <mat-menu #rightMenu="matMenu">
    <button (click)="copyLink()" mat-menu-item >Copy link</button>
  </mat-menu>


</div>
