.preview {
  max-width: 320px;
}

.cropped {
  width: 305x;
  height: 160px;
  object-fit: cover;
  object-position: 40% 100%;
}

.mat-card {
  cursor: pointer;
}

p {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}
